html,body{
    /* width:100% !important; */
    margin:0px;
    padding:0px;
    font-family: 'Oswald', sans-serif;

}

.header{
    height:600px;
    width:100% !important;
    background:linear-gradient(purple,blue);
    overflow:hidden;
    background-image:url('images/10d.jpg');
    background-size: cover;
    background-position:bottom;
    position: relative;
    text-align: center;
}
.weatherCard-container{
    position: relative;
    width:90%;
    top:100px;
    max-width:800px;
    min-height:400px;
    display:inline-block;
    margin:0px;
    margin-right:30px;
    border-radius: 20px;
}
.weatherCard{
    width:100%;
    max-width:800px;
    min-height:400px;
    background:linear-gradient(rgba(80,80,80,0.8),rgba(0,0,0,0.8));
    display:inline-block;
    color:#fff;
    position: absolute;
    left:0;right:0;top:0px;
    margin:auto;
    border-radius:20px;
    border:1px solid #333;
    padding:10px;
    text-align: left;
}
.weatherCard-responsive{
    margin:0px !important;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0, 0, 255, 0.7));
    /* background-image: url('images/10d.jpg'); */
    color:white !important;
}
.weatherCard-content-container{
    background:url('images/10d.jpg');
    background-size: cover;
}
.weatherCard-logo{
    min-width:100px;
    min-height:100px;
    margin:10px;padding:0;
    float:right;
    background-color: rgba(0,240,255,0.4);
    border-radius:50px;
    border:2px solid #000;
    padding:10px;
}
.weatherCard-temp{
    font-size:35pt;
    border:2px solid #fff;
    display: inline-block;
    padding:15px;
}
.weatherCard-mainName{
    color: #fff !important;
}
h1,h2,h3,h4,h5,h6{
    margin:5px;
}
hr{width:80%;}

.weatherCard-moreinfo h1,.weatherCard-moreinfo h2,.weatherCard-moreinfo h3,.weatherCard-moreinfo h4,.weatherCard-moreinfo h5,.weatherCard-moreinfo h6{
    display:inline-block;
    margin-top:0px;
    margin-bottom:0px;
    color:#fff;
}
.weatherCard-relative{
    position: relative;
    height:100%;width:100%;
}
.weather-heading1{
    color:#999;
}
.content-responsive{
    text-align: center;
    width: 100%;
    height:600px;
    overflow-x: auto;
    white-space: nowrap;
}
.weather-app-searchCity{
    padding:50px;
    background-color: #222;
    color:#fff;
    text-align: center;
}
.weather-app-footer{
    padding:9px;
    background-color: #333;
    color:#fff;
    text-align: right;
}
.weather-app-footer a{
    text-decoration:none;
    font-weight:bold;
}
::-webkit-scrollbar {
    width: 5px;
    height:3px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: #000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
@media (max-width:700px){
    .header{
        height:700px !important;
    }
    .weatherCard{
        width:100%;
    }
    .weatherCard-container{
        width:90%;
    }
    .content-responsive{
        width: 100%;
        height:600px;
        overflow-x: auto;
        white-space: nowrap;
    }
    .weather-app-searchCity{
        padding-left:0px;
        padding-right:0px;
    }
    .weather-app-searchCity h1{
        font-size:15pt;
    }
}
