.weather-app-search-bar{
    background:linear-gradient(to top right,#000,#000);
    width:100%;
    height:60px;
    text-align: center;
    position: relative;
}
.weather-app-search-bar-input{
    width:50%;
    height:40px;
    top:10px;
    bottom:10px;
    position: relative;
    padding:7px;
    padding-left:15px;
    font-size:15pt;
}
.weather-app-search-bar-button{
    top:5px;
    position: relative;
}